In [1]:
5 ==4

False

In [2]:
5==5

True

In [3]:
# sözlük 

x = {"name":"Peter",
     "age": "26"}
print(x)
type(x)

{'name': 'Peter', 'age': '26'}

dict

In [4]:
#tuple 

x=("python","ml","ds",0)
type(x)

tuple

In [5]:
dir(int)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [6]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [7]:
# len , str lere uygulanabilir uzunluk

name = "john"
type(name)
type(len)

#builtin_function_or_method   gömülü fonksiyonlar 

#python geliştiricilerinin önceden tanımlayıp dile gömülmüş faydalı bir takım araçlardır.

builtin_function_or_method

In [8]:
len("melisa")

6

Bir fonksiyon class yapısı içinde tanımlandıysa buna method denir. Eğer class yapısı içinde değilse fonksiyondur.

In [9]:
"miuul".upper()

'MIUUL'

In [10]:
"MELİSA".lower()

'meli̇sa'

LİSTELER 

Değiştirilebilir
sıralıdır. Index işlemleri yapılabilir
kapsayıcıdır

In [11]:
notes = [1, 2, 3, 4]
type(notes)

list

In [12]:
a = [1,2,"a",True,[1,2,3]]
a[0]

1

In [13]:
a[4][2]

3

In [14]:
# liste metodları

dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [15]:
len(a)

5

In [16]:
notes.append(100) #append
notes

[1, 2, 3, 4, 100]

In [17]:
#pop --> indexe göre siler

notes.pop(1)

2

In [18]:
notes

[1, 3, 4, 100]

In [19]:
# insert --> hangi index'e ne eklemek istiyorsan onu yapar.

notes.insert(2, 50)
notes

[1, 3, 50, 4, 100]

In [20]:
# Dictionary

# değiştirilebilir
# sırasız (python 3.7 sürümünden sonra sıralı)
#kapsayıcı

In [21]:
# key - value

dictionary = {"REG": "Regression",
              "LOG" : "Logistic Regression",
              "CART" : "Classification and Reg"}

In [22]:
# key sorgulama 

"YSA" in dictionary

False

In [23]:
dictionary.get("REG")

'Regression'

In [24]:
# value değiştirmek

dictionary["REG"] = ["YSA", 10 ]
dictionary

{'CART': 'Classification and Reg',
 'LOG': 'Logistic Regression',
 'REG': ['YSA', 10]}

In [25]:
# tüm key lere erişmek 
dictionary.keys()

dict_keys(['REG', 'LOG', 'CART'])

In [26]:
dictionary.values()

dict_values([['YSA', 10], 'Logistic Regression', 'Classification and Reg'])

In [27]:
dir(dictionary)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [28]:
dictionary.pop("REG")
dictionary

{'CART': 'Classification and Reg', 'LOG': 'Logistic Regression'}

In [29]:
dictionary.update({"Ahmet": ["Turkey", 24]})
dictionary

{'Ahmet': ['Turkey', 24],
 'CART': 'Classification and Reg',
 'LOG': 'Logistic Regression'}

In [30]:
# TUPLE (DEMET)

#DEĞİŞTİRİLEMEZ
#SIRALIDIR
#KAPSAYICIDIR (birden fazla eleman var)

In [31]:
t = ("john", "mark", 1, 2)
type(t)

tuple

In [32]:
t[0:2]

('john', 'mark')

In [34]:
t[0] = 99 #değiştirilemez olduğu örneği

TypeError: ignored

In [35]:
# set --> kümeler 
#difference --> iki küme farkı 

set1 = set([1, 3, 5])
set2 = set([1, 2, 3])

#set1 de olup set2 de olmayan

set1.difference(set2)

{5}

In [36]:
#intersect 
set1.intersection(set2)

{1, 3}

In [37]:
print(set1 & set2) #matematiksel işlemlerde yapabilirsin
print(set1 - set2)

{1, 3}
{5}

In [38]:
# isdisjoint() : İki kümenin kesişimi boş mu ?
set1.isdisjoint(set2)

False

In [39]:
set1.issubset(set2) # set1 set2 nin alt kümesi mi ?

False

In [40]:
set1.issuperset(set2) # set1 set2 yi kapsıyor mu ?

False

# FONKSİYONLAR

In [41]:
?print #parametrede argümanda doğrudur 
#parametre : fonksiyon tanımlanması esnasında ifade edilmesi gereken değişkenlerdir
#argüman: fonk çağırıldığında parametre değerlerine karşılık girilen değerlerdir

Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:

file:  a file-like object (stream); defaults to the current sys.stdout.

sep:   string inserted between values, default a space.

end:   string appended after the last value, default a newline.

flush: whether to forcibly flush the stream.

Type:      builtin_function_or_method

In [42]:
print("a", "b", sep = "__")

a__b

In [43]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [46]:
a =int(input("Bir sayı giriniz : ")) 
print(a*2)

Bir sayı giriniz : 5
10

In [47]:
def calculate(x):
  print(x*2)
calculate(5)

10

In [48]:
a = int(input("bir tam sayı giriniz :"))
def cal(a):
  print(a*2)
cal(a)

bir tam sayı giriniz :25
50

iki argümanlı /parametreli bir fonksiyon tanımlayalım

In [49]:
def summer(arg1, arg2):
  print(arg1 + arg2)
summer(7, 8)

15

Docstring --> herkesin anlayacağı dilden bilgi notu ekleme methodudur.

In [50]:
def summer(arg1, arg2):
  print(arg1 + arg2)


# 3 tırnak ile """ """ pycharm da bunu yapıp entr a bastığında parametreler gelir

In [51]:
# Fonksiyonların Statement/Body Bölümü

# def function_name(parameters/arguments):
#          statements(function body)

In [52]:
def say_hi():
  print("Merhaba")
  print("Hi")
  print("Hello")
say_hi()

Merhaba
Hi
Hello

In [53]:
def say_hi(string):
  print(string)
  print("Hi")
  print("Hello")
say_hi("miuul")

miuul
Hi
Hello

In [54]:
def multiplication(a, b):
  c = a * b
  print(c)
multiplication(9, 50)

450

In [55]:
# Girilen 2 sayının çarpımını boş bir listeye sırasıyla ekleyecek fonksiyon yazın
list_store = []

def add_element(a, b):
  c = a * b
  list_store.append(c)
  print(list_store)

add_element(8, 9)

[72]

In [56]:
add_element(2, 8)

[72, 16]

In [59]:
#return --> Fonksiyon çıktılarını girdi olarak kullanır

def calculate(varm, moisture, charge):
  print((varm + moisture)/charge)

calculate(90, 12, 78) * 10 #nonetype ile str çarpılmaz ! aman dikkat !

1.3076923076923077

TypeError: ignored

In [60]:
def calculate(varm, moisture, charge):
  return (varm + moisture)/charge

calculate(90, 12, 78) * 20  # bunun içim return kullanıyor aman dikkat returnden sonra yazılan kodlar çalışmaz

26.153846153846153

In [61]:
def calculate(varm, moisture, charge):

  varm = varm * 2
  moisture = moisture * 2
  charge = charge * 2
  output = (varm + moisture)/charge
  
  return varm, moisture, charge, output
 
calculate(90, 12, 78)

(180, 24, 156, 1.3076923076923077)

In [62]:
# Fonksiyon içinde fonksiyon çağırmak

In [63]:
def calculate(varm, moisture, charge):
  return int((varm + moisture)/charge)

calculate(90, 12, 78) * 20

20

In [64]:
def standardization(a, p):
  return a*10 / 100 * p * p

standardization(45, 1)

4.5

In [65]:
def all_calculation(varm, moisture, charge, p):
  a = calculate(varm, moisture, charge)
  b = standardization(a, p)
  print(b*10)

all_calculation(1, 3, 5, 128)

0.0

In [66]:
def all_calculation(varm, moisture, charge, a, p):
  print(calculate(varm, moisture, charge))
  b = standardization(a, p)
  print(b*10)

all_calculation(1, 3, 5, 19, 128)

0
311296.0

In [67]:
list_store = [1, 2]           #global etki alanı
def add_element(a, b):
  c = a * b                #fonksiyon içi local etki alanı
  list_store.append(c)    
  print(list_store)

add_element(2, 9)

[1, 2, 18]

# KOŞULLAR (CONDITIONS)

In [68]:
if 1 == 1:        #bu işlemin sonucu doğru ise içindeki değeri döndürür
  print("something")

something

In [69]:
if 1 == 2:
  print("something")

else:
  print("nothing")

nothing

In [70]:
def number_check(number):
  if number == 10:
    print("number is 10")
number_check(10)

number is 10

In [71]:
def number_check(number):
  if number == 10:
    print("number is 10")
  else:
    print("number is not 10")
number_check(120)

number is not 10

In [72]:
def number_check(number):
  if number > 10:
    print("greater than 10")
  elif number < 10:
    print("less than 10")
  else:
    print("equal to 10")

number_check(10)

equal to 10

In [73]:
def number_check(number):
  if number > 10:
    print("greater than 10")
  elif number < 10:
    print("less than 10")
  else:
    print("equal to 10")

number_check(15)

greater than 10

# DÖNGÜLER

In [74]:
# FOR 
students = ["John", "Mark", "Vanessa", "Mariam"]

for student in students:
  print(student)

John
Mark
Vanessa
Mariam

In [75]:
for student in students:
  print(student.upper())

JOHN
MARK
VANESSA
MARIAM

In [76]:
def new_salary(salary, rate):
  return int(salary*rate/100 + salary)
new_salary(9300, 44.85)

13471

In [77]:
new_salary(3300, 42.35) - 2500

2197

In [78]:
salaries = [1000, 2000, 3000, 4000]
for salary in salaries:
  print(new_salary(salary, 10))

1100
2200
3300
4400

In [79]:
for salary in salaries:
  if salary >= 3000:
    print(new_salary(salary, 10))
  else:
    print(new_salary(salary, 20))

1200
2400
3300
4400

In [80]:
for i in range(len("miuul")):
  print(i)

0
1
2
3
4

# MÜLAKAT SORUSU

Aşağıdaki şekilde string değiştiren fonksiyon yazmak istiyoruz.

before : "hi my name is john and ı am learning python"

after : "Hi mY NaMe iS JoHn aNd ı aM LeArNiNg pYtHoN"

In [81]:
def alternating(string):
  new_string = ""   #girilen string'in indexlerinde gez
  for string_index in range(len(string)):    #index çift ise büyük harfe çevir
    if string_index % 2 == 0:
      new_string += string[string_index].upper()
    else:                                   #index tek ise küçük harfe çevir
      new_string += string[string_index].lower()
  print(new_string)

alternating("hi my name is john and i am learning python")

Hi mY NaMe iS JoHn aNd i aM LeArNiNg pYtHoN

# BREAK & CONTINUE & WHILE

In [82]:
salaries = [1000, 2000, 3000, 4000, 5000]

for salary in salaries:
  if salary == 3000:
    break
  print(salary)

1000
2000

In [83]:
for salary in salaries:
  if salary == 3000:
    continue
  print(salary)

1000
2000
4000
5000

In [84]:
number = 1 

while number < 5:
  print(number)
  number +=1

1
2
3
4

# ENUMERATE : OTOMATİK COUNTER/INDEXLER İLE FOR LOOP

In [85]:
students = ["John", "Mark", "Venessa", "Mariam"]

for student in students:
  print(student)
for index, student in enumerate(students):
  print(index, student)

John
Mark
Venessa
Mariam
0 John
1 Mark
2 Venessa
3 Mariam

In [86]:
for index, student in enumerate(students, 1):
  print(index, student)

1 John
2 Mark
3 Venessa
4 Mariam

çift indexteki öğrencileri bir listeye, tek indexteki öğrencileri bir başka listeye kaydet

In [87]:
A = []
B = []

for index, student in enumerate(students):
  if index % 2 == 0:
    A.append(student)
  else:
    B.append(student)

print(A)
print(B)

['John', 'Venessa']
['Mark', 'Mariam']

çift indexteki öğrencileri bir listeye, tek indexteki öğrencileri bir başka listeye kaydet 

fakat bu iki liste tek bir liste olarak return olsun

In [88]:
students = ["John", "Mark", "Venessa", "Mariam"]

def divide_students(students):
  groups = [[], []]
  for index, student in enumerate(students):
    if index % 2 == 0:
      groups[0].append(student)
    else:
      groups[1].append(student)
  print(groups)
  return groups

st = divide_students(students)
st[0]

[['John', 'Venessa'], ['Mark', 'Mariam']]

['John', 'Venessa']

In [89]:
def alternating_with_enumerate(string):
  new_string = ""
  for i, letter in enumerate(string):
    if i % 2 == 0:
      new_string += letter.upper()
    else:
      new_string += letter.lower()
  print(new_string)

alternating_with_enumerate("hi my name is john and i am learning python")

Hi mY NaMe iS JoHn aNd i aM LeArNiNg pYtHoN

# ZIP (ayrı listeleri tek bir liste haline getirdiği için hayat kurtaran serisinden)

In [90]:
students = ["John", "Mark", "Venessa", "Mariam"]

departments = ["math", "statistic", "physics", "astronomy"]

ages = [23, 30, 26, 22]

list(zip(students, departments, ages))

[('John', 'math', 23),
 ('Mark', 'statistic', 30),
 ('Venessa', 'physics', 26),
 ('Mariam', 'astronomy', 22)]

# lambda map filter reduce

In [91]:
# lambda bir fonksiyondur kullan at şeklindedir yani ihtiyacın olan bölümde kullan.

new_sum = lambda a, b: a + b

new_sum(8, 12)

20

In [92]:
# map ben seni döngü yazmaktan kurtarıyorum der.

salaries = [1000, 2000, 3000, 4000, 5000]

def new_salary(x):
  return x * 20 / 100 + x
new_salary(5000)

6000.0

In [93]:
list(map(new_salary, salaries))

[1200.0, 2400.0, 3600.0, 4800.0, 6000.0]

In [94]:
list(map(lambda x: x * 20 / 100 + x, salaries))

[1200.0, 2400.0, 3600.0, 4800.0, 6000.0]

In [95]:
# filter

list_store = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(filter(lambda x: x % 2 == 0, list_store))

[2, 4, 6, 8, 10]

In [96]:
# reduce
from functools import reduce

In [97]:
list_store = [1, 2, 3, 4]

reduce(lambda a, b: a + b, list_store)

10

# COMPREHENSIONS

Birden fazla satırda yapacağın işlemleri tek satırda yapmanı sağlar.

##LIST COMPREHENSION

In [98]:
salaries = [1000, 2000, 3000, 4000, 5000]

[new_salary(salary * 2 ) if salary < 3000 else new_salary(salary) for salary in salaries]

[2400.0, 4800.0, 3600.0, 4800.0, 6000.0]

In [99]:
[salary * 2 for salary in salaries]

[2000, 4000, 6000, 8000, 10000]

comprehension da if tek başına ise en sağda olur. eğer else ile birlikte ise o zaman for bloğu sağ tarafta olur. !

In [100]:
[salary * 2 for salary in salaries  if salary < 3000]

[2000, 4000]

In [101]:
[salary * 2 if salary < 3000 else salary*0 for salary in salaries ]

[2000, 4000, 0, 0, 0]

## SORU

Elinde iki liste var istenmeyen öğrencilerin olduğu listedekilerin isimlerini küçük harfle yaz. İlk listede ikinciden farklı ismi olanların isimlerini büyük harfle yaz !

In [102]:
students = ["John", "Mark",  "Venessa", "Mariam"]

students_no = ["John", "Vanessa"]

In [103]:
students = ["John", "Mark",  "Venessa", "Mariam"]
students_no = ["John", "Venessa"]

[student.lower() if student in students_no else student.upper() for student in students]

['john', 'MARK', 'venessa', 'MARIAM']

# dict_comprehension

In [104]:
dictionary = {"a" : 1,
              "b" : 2,
              "c" : 3,
              "d" : 4 }
print(dictionary.keys())
print(dictionary.values())
dictionary.items()

dict_keys(['a', 'b', 'c', 'd'])
dict_values([1, 2, 3, 4])

dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4)])

In [105]:
{k : v**2 for (k, v) in dictionary.items()}    ## önemlii

{'a': 1, 'b': 4, 'c': 9, 'd': 16}

In [106]:
{k.upper() : v**2 for (k, v) in dictionary.items()}

{'A': 1, 'B': 4, 'C': 9, 'D': 16}

# MÜLAKAT SORUSU 1

AMAÇ : çift sayıların karesi alınarak bir sözlüğe eklenmek istenmektedir.
key ler orijinal değer value ise değiştirilmiş değer olacak.

In [107]:
numbers = range(10)
new_dict = {}
for n in numbers:
  if n % 2 == 0:
    new_dict[n] = n**2
new_dict

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [108]:
{n: n**2 for n in numbers if n % 2 == 0}

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

# Bir veri setindeki değişkenlerin isimlerini değiştirmek

In [109]:
["total", "speeding", "alcohol", "not distrected", "no_previous", "ins_premium", "ins_losses", "abbrev"]

#bütün değerleri büyük yap.

['total',
 'speeding',
 'alcohol',
 'not distrected',
 'no_previous',
 'ins_premium',
 'ins_losses',
 'abbrev']

In [110]:
import seaborn as sns
df = sns.load_dataset("car_crashes")
df.columns

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses', 'abbrev'],
      dtype='object')

In [111]:
df.head()

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08,AL
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93,AK
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35,AZ
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39,AR
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63,CA

In [112]:
for col in df.columns:
  print(col.upper())

TOTAL
SPEEDING
ALCOHOL
NOT_DISTRACTED
NO_PREVIOUS
INS_PREMIUM
INS_LOSSES
ABBREV

kalıcı bir listede büyük harfle sakla

In [113]:

A = []
for col in df.columns:
  A.append(col.upper())
A

['TOTAL',
 'SPEEDING',
 'ALCOHOL',
 'NOT_DISTRACTED',
 'NO_PREVIOUS',
 'INS_PREMIUM',
 'INS_LOSSES',
 'ABBREV']

In [114]:
df.columns = A
df.head()

,TOTAL,SPEEDING,ALCOHOL,NOT_DISTRACTED,NO_PREVIOUS,INS_PREMIUM,INS_LOSSES,ABBREV
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08,AL
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93,AK
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35,AZ
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39,AR
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63,CA

In [115]:
# list comprehension ile çözümü
import seaborn as sns
df = sns.load_dataset("car_crashes")
df.columns = [col.upper() for col in df.columns]
df.head()

,TOTAL,SPEEDING,ALCOHOL,NOT_DISTRACTED,NO_PREVIOUS,INS_PREMIUM,INS_LOSSES,ABBREV
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08,AL
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93,AK
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35,AZ
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39,AR
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63,CA

# UYGULAMA 2 

bir önceki sorunun devamı olarak büyük harflendirilmiş kolonların içindeki ifadede eğer INS varsa başına FLAG ekle yoksa NO_FLAG ekle.

In [116]:

df.columns = ["FLAG_" + col if "INS" in col else "NO_FLAG_" + col for col in df.columns]
df.columns

Index(['NO_FLAG_TOTAL', 'NO_FLAG_SPEEDING', 'NO_FLAG_ALCOHOL',
       'NO_FLAG_NOT_DISTRACTED', 'NO_FLAG_NO_PREVIOUS', 'FLAG_INS_PREMIUM',
       'FLAG_INS_LOSSES', 'NO_FLAG_ABBREV'],
      dtype='object')

#UYGULAMA 3 *** aşırı önemli

AMAÇ : key i string, value aşağıdaki gibi bir liste olan sözlük oluşturmak.

sadece sayısal değişkenler için bunu yap

## sözlük comprehension yapısı

In [117]:
import seaborn as sns 
df = sns.load_dataset("car_crashes")
df.columns

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses', 'abbrev'],
      dtype='object')

In [118]:
num_cols = [col for col in df.columns if df[col].dtype != "O"] #type object olanların haricindekileri alır
num_cols

['total',
 'speeding',
 'alcohol',
 'not_distracted',
 'no_previous',
 'ins_premium',
 'ins_losses']

In [119]:
soz = {}
agg_list = ["mean", "min", "max", "var"]

for col in num_cols:
  soz[col] = agg_list
soz

{'alcohol': ['mean', 'min', 'max', 'var'],
 'ins_losses': ['mean', 'min', 'max', 'var'],
 'ins_premium': ['mean', 'min', 'max', 'var'],
 'no_previous': ['mean', 'min', 'max', 'var'],
 'not_distracted': ['mean', 'min', 'max', 'var'],
 'speeding': ['mean', 'min', 'max', 'var'],
 'total': ['mean', 'min', 'max', 'var']}

In [120]:
# kısa yol

new_dict = {col : agg_list for col in num_cols}
new_dict

{'alcohol': ['mean', 'min', 'max', 'var'],
 'ins_losses': ['mean', 'min', 'max', 'var'],
 'ins_premium': ['mean', 'min', 'max', 'var'],
 'no_previous': ['mean', 'min', 'max', 'var'],
 'not_distracted': ['mean', 'min', 'max', 'var'],
 'speeding': ['mean', 'min', 'max', 'var'],
 'total': ['mean', 'min', 'max', 'var']}

In [121]:
df[num_cols].head()

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63

In [122]:
df[num_cols].agg(new_dict)

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses
mean,15.790196,4.998196,4.886784,13.573176,14.004882,886.957647,134.493137
min,5.900000,1.792000,1.593000,1.760000,5.900000,641.960000,82.750000
max,23.900000,9.450000,10.038000,23.661000,21.280000,1301.520000,194.780000
var,16.990902,4.071303,2.989901,20.330874,14.172755,31789.565170,616.823046