# GÖREV 1

In [1]:
x = 8 
type(x)

int

In [2]:
y = 3.2 
type(y)

float

In [3]:
z = 8j + 18 
type(z)

complex

In [4]:
a = "Hello World"
type(a)

str

In [5]:
c = 23 < 22
type(c)

bool

In [6]:
l = [1, 2, 3,4]
type(l)

list

In [7]:
d = {"Name": "Jake",
     "Age" : 27,
     "Adress": "Downtown"}
type (d)

dict

In [8]:
t = ("Machine Learning", "Data Science")
type (t)

tuple

In [9]:
s = {"Python", "Machine Learning", "Data Science"}
type (s)

set

# GÖREV 2

In [10]:
text = "The goal is to turn data into information, and information into insight."
text = text.upper()
text = text.replace(","," ")
text = text.replace("."," ")
text.split()

['THE',
 'GOAL',
 'IS',
 'TO',
 'TURN',
 'DATA',
 'INTO',
 'INFORMATION',
 'AND',
 'INFORMATION',
 'INTO',
 'INSIGHT']

# GÖREV 3

In [11]:
lst = ["D","A","T","A","S","C","I","E","N","C","E"] #adım1 verilen listenin eleman sayısına bakınız.
len(lst)

11

In [12]:
print(lst[0])  #adım2    sıfırıncı ve onuncu indexteki elemanları çağırınız.
print(lst[10])  #adım2
print(lst[0:4]) #adım3   verilen liste üzerinden ['D', 'A', 'T', 'A'] listesini oluşturunuz.

D
E
['D', 'A', 'T', 'A']

In [13]:
del lst[8]  #adım4 sekizinci indexteki elemanı siliniz.
print(lst)

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E']

In [14]:
lst.extend(["M"]) #adım5 yeni bir eleman ekleyiniz.
print(lst)

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E', 'M']

In [15]:
lst.insert(8,"N") #adım6 sekizinci indexe "N" elemanını tekrar ekleyiniz.
print(lst)

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'N', 'C', 'E', 'M']

# GÖREV 4

In [16]:
dict = {"Chistian" : ["America", 18],
        "Daisy" : ["England",12],
        "Antonio" : ["Spain", 22],
        "Dante" : ["Italy", 25]}
print(dict)

{'Chistian': ['America', 18], 'Daisy': ['England', 12], 'Antonio': ['Spain', 22], 'Dante': ['Italy', 25]}

Adım1: Key değerlerine erişiniz.

Adım2: Value'lara erişiniz.

Adım3: Daisy key'ine ait 12 değerini 13 olarak güncelleyiniz.

Adım4: Key değeriAhmet value değeri [Turkey,24] olanyeni birdeğerekleyiniz.

Adım5: Antonio'yu dictionary'den siliniz.

In [17]:
dict.keys()  #adım1

dict_keys(['Chistian', 'Daisy', 'Antonio', 'Dante'])

In [18]:
dict.values() #adım2

dict_values([['America', 18], ['England', 12], ['Spain', 22], ['Italy', 25]])

In [19]:
dict["Daisy"] = ["England", 13] #adım3
dict

{'Antonio': ['Spain', 22],
 'Chistian': ['America', 18],
 'Daisy': ['England', 13],
 'Dante': ['Italy', 25]}

In [20]:
dict.update({"Ahmet": ["Turkey", 24]})  #adım4
dict

{'Ahmet': ['Turkey', 24],
 'Antonio': ['Spain', 22],
 'Chistian': ['America', 18],
 'Daisy': ['England', 13],
 'Dante': ['Italy', 25]}

In [21]:
dict.pop("Antonio")  #adım5
dict

{'Ahmet': ['Turkey', 24],
 'Chistian': ['America', 18],
 'Daisy': ['England', 13],
 'Dante': ['Italy', 25]}

# GÖREV 5

Görev 5:Argüman olarak bir liste alan, listenin içerisindeki tek ve çift sayıları ayrı listelere atayan ve bu listeleri return eden fonksiyon yazınız.

Liste elemanlarına tek tek erişmeniz gerekmektedir. Her bir elemanın çift veya tek olma durumunu kontrol etmek için  % yapısını kullanabilirsiniz.

In [22]:
l = [2, 13, 18, 93, 22]
even_list = []
odd_list = []

def func(l):
  for index, number in enumerate(l):
    if index % 2 == 0:
      even_list.append(number)
    else:
      odd_list.append(number)
  return even_list, odd_list

print(func(l))

([2, 18, 22], [13, 93])

# GÖREV 6


Görev 6:  List Comprehension yapısı kullanarak car_crashes veri sindeki numeric değişkenlerin isimlerini büyük harfe çeviriniz ve başına NUM ekleyiniz. 

 Numeric olmayan değişkenlerin de isimleri büyümeli. 
 
 Tek bir list comprehension yapısı kullanılmalı.

In [23]:
import seaborn as sns 
df = sns.load_dataset("car_crashes")
df.head()

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08,AL
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93,AK
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35,AZ
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39,AR
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63,CA

In [24]:
df.columns = ["NUM_" + col.upper() if df[col].dtype != "O" else col.upper() for col in df.columns]
df.columns

Index(['NUM_TOTAL', 'NUM_SPEEDING', 'NUM_ALCOHOL', 'NUM_NOT_DISTRACTED',
       'NUM_NO_PREVIOUS', 'NUM_INS_PREMIUM', 'NUM_INS_LOSSES', 'ABBREV'],
      dtype='object')

# GÖREV 7

List Comprehension yapısı kullanarak car_crashes verisinde isminde"no" barındırmayan değişkenlerin isimlerinin sonuna"FLAG" yazınız. 

 Tüm değişkenlerin isimleri büyük harf olmalı.
 
 Tek bir list comprehension yapısı ile yapılmalı.

In [25]:
import seaborn as sns 
df = sns.load_dataset("car_crashes")
df.head()

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08,AL
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93,AK
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35,AZ
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39,AR
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63,CA

In [26]:
[col.upper() if "no" in col else col.upper()+"_FLAG" for col in df.columns]

['TOTAL_FLAG',
 'SPEEDING_FLAG',
 'ALCOHOL_FLAG',
 'NOT_DISTRACTED',
 'NO_PREVIOUS',
 'INS_PREMIUM_FLAG',
 'INS_LOSSES_FLAG',
 'ABBREV_FLAG']

#GÖREV 8 

ListComprehension yapısı kullanarak aşağıda  verilen değişken isimlerinden FARKLI olan değişkenlerin isimlerini seçiniz ve yeni bir dataframe oluşturunuz. 

of_list = ["abbrev", "no_previous"]

 Önce verilen listeye göre list comprehension kullanarak new_cols adında yeni liste oluşturunuz.
 
 Sonra df[new_cols] ile bu değişkenleri seçerek yeni bir df oluşturunuz ve adını new_df olarak isimlendiriniz.

In [27]:
import seaborn as sns 
df = sns.load_dataset("car_crashes")
df.head()

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08,AL
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93,AK
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35,AZ
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39,AR
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63,CA

In [28]:
of_list = ["abbrev", "no_previous"]
new_cols = []

[new_cols.append(cols) for cols in df.columns if cols not in of_list]

new_df = df[new_cols]
new_df.head()

   total  speeding  alcohol  not_distracted  ins_premium  ins_losses
0   18.8     7.332    5.640          18.048       784.55      145.08
1   18.1     7.421    4.525          16.290      1053.48      133.93
2   18.6     6.510    5.208          15.624       899.47      110.35
3   22.4     4.032    5.824          21.056       827.34      142.39
4   12.0     4.200    3.360          10.920       878.41      165.63